body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    padding: 20px;
    text-align: center;

}
.container{
  max-width:400px;
  margin:auto;
}
.box{
  background: wheat;
  padding:15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
button{
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
}
button:hover{
  background-color: #218838;
}
input{
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 120px;
  height: 24px;
  margin-bottom: 10px;

}
h2{
  color: #333;
}
